<nav class="navbar bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="/posts">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Quora_icon.svg/2048px-Quora_icon.svg.png"
                alt="Bootstrap" width="30" height="24">
            <span style="color: #A82400 ; font-weight: bold; font-size: x-large;">Quora</span>
        </a>
    </div>
</nav>