<%- include("includes/head.ejs"); %>

    <body
        style="background-image: url(https://www.analyticsinsight.net/wp-content/uploads/2021/09/How-does-Quora-use-Artificial-intelligence-and-Machine-Learning.jpg); background-size: cover;">
        <div class="d-flex justify-content-center flex-column align-items-center w-100" style="height: 100vh;">
            <form action="/posts">
                <button class="btn btn-lg btn-success">Let Gets Started</button>
            </form>
        </div>

    </body>

    </html>